<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UartMuxDemux.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UartMuxDemux.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UartMuxDemux.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UartMuxDemux.Settings>
            <setting name="aSlavePortsNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>COM1</string>
                        <string>COM2</string>
                        <string>COM3</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MasterPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="aSlavePortsLinkTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                        <string>ASCII</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="aSlavePortsEoFDetectionModes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                        <string>Unknown</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="aSlavePortsTimeout" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="aSlavePortsPacketLength" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
        </UartMuxDemux.Settings>
        <UartMuxDemux.Settings1>
            <setting name="aSlaveDemuxPortsNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>COM1</string>
                        <string>COM2</string>
                        <string>COM3</string>
                    </ArrayOfString>
                </value>
            </setting>
        </UartMuxDemux.Settings1>
        <UartMuxDemux.Properties.Settings>
            <setting name="aMessageConversion" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>UNKNOWN_EV</string>
                        <string>RESET</string>
                        <string>EBUS_RESET</string>
                        <string>COM_START</string>
                        <string>COM_EV_RESUME</string>
                        <string>NEW_LINE</string>
                        <string>COM_EVENT</string>
                        <string>WRITE_MEM</string>
                        <string>READ_MEM</string>
                        <string>FLASH_ACCESS_FROM_IT</string>
                        <string>EBUS_UPDATE</string>
                        <string />
                        <string />
                        <string>EOF</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>TRACE_START_BYTE</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>TRACE_SPECIAL_BYTE</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="startByte" serializeAs="String">
                <value>208</value>
            </setting>
            <setting name="eofByte" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="specialByte" serializeAs="String">
                <value>222</value>
            </setting>
            <setting name="serialBaudrate" serializeAs="String">
                <value>9600</value>
            </setting>
        </UartMuxDemux.Properties.Settings>
    </userSettings>
</configuration>