<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UartMuxDemux.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UartMuxDemux.Properties.Settings>
            <setting name="aMessageConversion" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>UNKNOWN_EV</string>
                        <string>RESET</string>
                        <string>EBUS_RESET</string>
                        <string>COM_START</string>
                        <string>COM_EV_RESUME</string>
                        <string>NEW_LINE</string>
                        <string>COM_EVENT</string>
                        <string>WRITE_MEM</string>
                        <string>READ_MEM</string>
                        <string>FLASH_ACCESS_FROM_IT</string>
                        <string>EBUS_UPDATE</string>
                        <string />
                        <string />
                        <string>EOF</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>TRACE_START_BYTE</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string>TRACE_SPECIAL_BYTE</string>
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="nbOfDemuxPorts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="linkType1" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType2" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType3" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType4" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType5" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType6" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType7" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType8" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType9" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType10" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType11" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType12" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType13" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType14" serializeAs="String">
                <value />
            </setting>
            <setting name="linkType15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="linkType16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameSize16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eoFByte16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frameDelimiter1" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter2" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter3" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter4" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter5" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter6" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter7" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter8" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter9" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter10" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter11" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter12" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter13" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter14" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter15" serializeAs="String">
                <value />
            </setting>
            <setting name="frameDelimiter16" serializeAs="String">
                <value />
            </setting>
        </UartMuxDemux.Properties.Settings>
    </userSettings>
</configuration>